### 리스트

In [2]:
fruits = ["apple", "cherry", "orange", "durian"]
animals = []
anything = [2025, 2, 10, "python", ["number", "string", "boolean"], True]

In [3]:
rainbow_str = "red-orange-yellow-green-blue-navy-purple"
rainbow = rainbow_str.split("-")

print(rainbow)

['red', 'orange', 'yellow', 'green', 'blue', 'navy', 'purple']

### 리스트의 연산

In [4]:
added_list = fruits + anything
print(added_list)

['apple', 'cherry', 'orange', 'durian', 2025, 2, 10, 'python', ['number', 'string', 'boolean'], True]

In [23]:
multiple_list = fruits * 3
print(multiple_list)

['apple', 'cherry', 'orange', 'durian', 'apple', 'cherry', 'orange', 'durian', 'apple', 'cherry', 'orange', 'durian']

---
리스트의 메서드

In [11]:
num_list = [2025, 2, 10, 14, 36]

In [12]:
num_list.append(4)
print(num_list)

[2025, 2, 10, 14, 36, 4]

In [ ]:
num_list.insert(0, 777)
print(num_list)

[777, 777, 2025, 2, 10, 14, 36, 4]

In [15]:
num_list.append(777)
print(num_list)

[777, 777, 2025, 2, 10, 14, 36, 4, 777]

In [18]:
num_list.remove(777)
print(num_list)

[2025, 2, 10, 14, 36, 4]

In [19]:
num_list.sort()
print(num_list)

[2, 4, 10, 14, 36, 2025]

In [22]:
num_list.sort(reverse=True)
print(num_list)

[2025, 36, 14, 10, 4, 2]

In [26]:
# print(sorted(fruits))
# print(fruits)

sorted_fruits = sorted(fruits)
print(sorted_fruits)

['apple', 'cherry', 'durian', 'orange']

---
★ 인덱스, 인덱싱과 슬라이싱

In [28]:
# anything = [2025, 2, 10, "python", ["number", "string", "boolean"], True]
first_ele = anything[1]
forth_ele = anything[4]

print(first_ele)
print(forth_ele)

2
['number', 'string', 'boolean']

In [31]:
print(anything[5])
print(anything[-1])

True
True

In [32]:
anything[-1] = False
print(anything)

[2025, 2, 10, 'python', ['number', 'string', 'boolean'], False]

In [35]:
# 슬라이싱

today = anything[:3]
print(today)

[2025, 2, 10]

In [ ]:
anything = [2025, 2, 10, "python", ["number", "string", "boolean"], True]

In [43]:
str = anything[-3:-1]
print(str)

['python', ['number', 'string', 'boolean']]

In [37]:
texts = ['h', 'e', 'l', 'l', 'o', ',', 'w', 'o', 'r', 'l', 'd']

In [40]:
print(texts[:5]) # hello

['h', 'e', 'l', 'l', 'o']

In [41]:
print(texts[6:])

['w', 'o', 'r', 'l', 'd']

### **문제 1**

아래 조건에 맞게 리스트를 선언하고 결과를 출력하세요.

1. `fruits`라는 리스트에 다음 요소를 저장하세요.
    - `'apple', 'banana', 'cherry'`.
2. `print()`를 사용해 `fruits`의 첫 번째 요소와 세 번째 요소를 출력하세요.

In [47]:
fruits = ["apple", "banana", "cherry"]
print(fruits[0])
print(fruits[2])

apple
cherry

### **문제 2**

다음 조건을 만족하는 리스트를 만드세요.

1. `numbers`라는 리스트를 선언하고 숫자 `1`부터 `5`까지 저장하세요.
2. 이 리스트의 **길이**를 출력하세요.

In [48]:
numbers = [1, 2, 3, 4, 5]

print(len(numbers))

5

### **문제 3**

다음 조건에 맞게 리스트를 조작하세요.

1. `animals` 리스트에 `'cat', 'dog', 'bird'`를 저장하세요.
2. 이 리스트의 마지막에 `'fish'`를 추가하고, 리스트를 출력하세요.

In [53]:
animals = ["cat","dog", "bird"]
animals.append("fish")

print(animals)

['cat', 'dog', 'bird', 'fish']



### **문제 4**

아래 조건에 맞는 프로그램을 작성하세요.

1. `numbers` 리스트에 숫자 `3, 6, 9`를 저장하세요.
2. 리스트의 첫 번째 요소를 **2배**로 만들어 다시 저장하고, 리스트를 출력하세요.

In [57]:
numbers = [3, 6, 9]
numbers[0] = 6

print(numbers)

[6, 6, 9]

### **문제 5**

아래 문자열을 리스트로 변환하고 결과를 출력하세요.

1. 문자열 `'Python-is-fun'`을 `'-'`를 기준으로 분리하여 리스트로 만드세요.
2. 결과 리스트를 출력하세요.

In [58]:
str1 = "python-is-fun"
str2 = str1.split("-")

print(str2)

['python', 'is', 'fun']

### **문제 6**

아래 조건에 맞게 리스트와 문자열을 활용하세요.

1. 리스트 `words`에 `'Life', 'is', 'too', 'short'`를 저장하세요.
2. 리스트의 요소를 공백으로 이어붙여 문자열 `'Life is too short'`를 출력하세요.

In [65]:
words = ["Life", "is", "too", "short"]

result = " ".join(words)

print(result)

Life is too short

### **문제 7**

아래 조건에 맞게 리스트의 요소를 수정하세요.

1. `colors` 리스트에 `'red', 'blue', 'green'`을 저장하세요.
2. `'blue'`를 `'yellow'`로 변경하고 리스트를 출력하세요.

In [60]:
colors = ["red", "blue", "green"]
colors[1] = "yellow"

print(colors)

['red', 'yellow', 'green']

### **문제 8**

아래 조건에 맞는 프로그램을 작성하세요.

1. 리스트 `numbers`에 숫자 `1, 2, 3, 4, 5`를 저장하세요.
2. 슬라이싱을 이용하여 다음을 수행하세요:
    - 리스트의 **처음 3개의 요소**를 출력하세요.
    - 리스트의 **마지막 2개의 요소**를 출력하세요.
    - 리스트의 **모든 요소를 역순**으로 출력하세요.

In [70]:
numbers = [1, 2, 3, 4, 5]
sorted_numbers = sorted(numbers)
print(numbers[:3], numbers[-2:], numbers[::-1])

[1, 2, 3] [4, 5] [5, 4, 3, 2, 1]