# 변수(variable)

In [2]:
date = 250210
name = "이현민"

In [3]:
print(date)
print(name)

250210
이현민

In [8]:
m = 100
n = m + 10
m = 200
print(m)

200

---
아래 설명에 맞게 변수를 선언하고 값을 대입하세요.
1. name변수를 선언하고, 나의 이름을 문자열로 저장한다.
2. age변수를 선언하고, 나의 나이를 정수로 저장한다.

In [15]:
name = "이현민"
age =32

### **문제 2**

다음 조건에 맞게 변수를 작성해보세요.

1. `height`라는 변수에 **키**를 숫자형으로 저장하세요.
2. `dream`이라는 변수에 **당신의 목표**을 문자열로 저장하세요.

In [10]:
height = 163
dream = "백수"

### **문제 3**

변수에 담긴 값을 다른 변수에 대입하는 연습을 해봅시다.

1. `city`라는 변수에 **당신이 살고 있는 도시 이름**을 문자열로 저장하세요.
2. `my_city`라는 변수에 `city` 변수의 값을 대입하세요.
3. 두 변수를 각각 `print()`로 출력해보세요.

In [11]:
city = "서울"
my_city = city
print(city)
print(my_city)

서울
서울

### **문제 4**

다음과 같은 규칙에 맞는 변수를 작성하세요.

---

1. **사과의 개수**를 나타내는 변수를 `apple_count`로 선언하고 숫자 `10`을 저장하세요.
2. **오렌지의 개수**를 나타내는 변수를 `orange_count`로 선언하고 숫자 `20`을 저장하세요.
3. 두 변수를 출력해보세요.

In [12]:
apple_count = 10
orange_count = 20
print(apple_count)
print(orange_count)

10
20

### **문제 5**

다음과 같은 규칙을 지켜 변수를 작성하세요.

1. 변수 이름은 **스네이크 케이스**를 따릅니다.
2. `first_name`에 **당신의 이름의 첫 글자**를 문자열로 저장하세요.
3. `last_name`에 **당신의 성**을 문자열로 저장하세요.
4. `full_name` 변수에 `first_name`과 `last_name`을 이어붙여서 저장하세요.
5. `print()`를 사용해 `full_name`을 출력해보세요.

In [ ]:
first_name = "현민"
last_name = "이"
full_name = last_name + first_name
print(full_name)

이현민